<!DOCTYPE html>
<html>
<head>
    <title>Register Student</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Register Student</h1>

    <form action="/register" method="POST">

        <input
            type="text"
            name="student_id"
            placeholder="Student ID"
            required>

        <br><br>

        <input
            type="text"
            name="name"
            placeholder="Student Name"
            required>

        <br><br>

       

        <button type="submit">
            Register
        </button>

    </form>

    <br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>

</body>
</html>